@import 'normalize.css/normalize';



.row {
  overflow: hidden;
}

.cell {
  box-sizing: border-box;
  float: left;
  width: 12.5vw;
  height: 12.5vw;
  border: 5px white solid;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  transition: background-color 0.3s ease-out;
}

.cell.alive{
  background-color: #ee6600;
}

.actions > button {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 33vw;
  height: 100px;
  font-weight: bold;
  border: 1px solid #fff;
  background: #eee;
}
